.footer {
    background: #000000;
    color: #ffffff;
}

.footer-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;
}

.footer-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.footer-contato li {
    padding: 5px 2px;
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.1;
    color: #ffffff;
}

.img-footer {
    margin-right: 10px;
}

.footer-contato li a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}


